include ../common/head.pug
include ../common/navbar.pug
include ../common/footer.pug

doctype html
html(lang='en')
  +head(title)
  body.bg-light
    +navbar()
    main.container
      h3.h3= postTitle
      img(src=url alt=postTitle width="600")
      p= description
  +footer("post")
