include common/head.pug
include common/navbar.pug
include common/footer.pug

doctype html
html(lang='en')
  +head(title)
  body.bg-light
    +navbar()
    main.container.index.py-5
      .post.d-flex.flex-column
        .post-container.my-3
          #user-post-hidden.shadow.d-flex.flex-column.justify-content-between.bg-white(href="" style="width: 340px; padding: 20px")
            .post-image-container(style="width: 300px;height: 300px")
              img.post-image( alt='' )
            span.title.font-weight-bold.my-2
            .post-stat-bar.d-flex.justify-content-between
              .opdoot-container(class= user ? "" : "novote")
                button.button-up.bg-white
                  img.thumb-up(src="/images/opdoot/up.svg" width="20" alt="upvote")
                span.opdoots.mx-1
                button.button-down.bg-white
                  img.thumb-down(src="/images/opdoot/down.svg" width="20" alt="upvote")
              .comment
                img(src="/images/post/comment.svg", alt="comments" width="20")
                span.comment-amount.ml-2
              .view
                img(src="/images/post/view.svg", alt="views" width="20")
                span.view-amount.ml-2
    +footer("trending")