body {
  height: 100%;
}

@media only screen and (min-width: 992px) {
  nav {
    .input-group {
      width: 20rem !important;
    }
  }
}

main {
  height: calc(100vh - 60px);
  min-height: calc(800px);
}

.signup {
  width: 25rem;
  .social {
    filter: drop-shadow(1px 1px 1px #EDEDED) drop-shadow(-1px 1px 1px #EDEDED) drop-shadow(1px -1px 1px #EDEDED) drop-shadow(-1px -1px 1px #EDEDED);
  }
}

footer {
  height: 60px;
  width: 100%;
  left: 0;
  bottom: 0;
}
