body {
  height: 100%;

  textarea::-webkit-scrollbar {
    display: none;
  }

  textarea {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  textarea {
    resize: none;
    overflow: hidden;
    &:focus {
      box-shadow: none !important;
      border-color: black !important;
    }
  }

  button{
    border: none;
    outline: none;
    &:active, &:focus {
      border: none;
      outline: none;
    }
  }

  .thumb-up, .thumb-down{
    transition: margin-top .1s;
  
    &:hover, &:hover{
      margin-top: -3px;
    }
    &:active, &:active{
      filter: invert(39%) sepia(93%) saturate(3841%) hue-rotate(191deg) brightness(90%) contrast(98%);
    }
  }
  
  .upvote {
    .thumb-up {
      filter: invert(39%) sepia(93%) saturate(3841%) hue-rotate(191deg) brightness(90%) contrast(98%);
    }
  }
  
  .downvote {
    .thumb-down {
      filter: invert(39%) sepia(93%) saturate(3841%) hue-rotate(191deg) brightness(90%) contrast(98%);
    }
  }
}


main {
  min-height: calc(100vh - 60px - 60px);
}


nav {
  .profile-picture {
    border-radius: 50%;
    object-fit: cover;

  }
}

@media only screen and (min-width: 992px) {
  nav {
    height: 60px;
    .input-group {
      width: 20rem !important;
    }
  }
}

.signup-page, .login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 60px);
  margin-top: 0;
}

.signup {
  width: 25rem;

  .success {
    border-color: lightgreen !important;
    &:focus {
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px lightgreen !important;
    }
  }

  .error {
    border-color: lightcoral !important;
    &:focus {
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px lightcoral !important;
    }
  }

  .social {
    filter: drop-shadow(1px 1px 1px #EDEDED) drop-shadow(-1px 1px 1px #EDEDED) drop-shadow(1px -1px 1px #EDEDED) drop-shadow(-1px -1px 1px #EDEDED);
  }
}

$image-height: 300px;
$image-width: 400px;

.upload {
  width: 25rem;

  .title {
    padding: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    height: 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    &:focus {
      box-shadow: none;
      border-color: black;
    }
  }

  #description {
    height: 6rem;
  }

  #tags {
    height: 4rem;
  }

  @keyframes change-color {
    from {background-color: gainsboro;}
    to {background-color: black;}
  }
  
  #drop-area {
    width: $image-width;
    height: $image-height;
    background-color: gainsboro;
  }

  .drop-border {
    width: $image-width - 20px;
    height: $image-height - 20px;
    border: 2px dashed grey;
    border-radius: 10px;
    color: grey;
    pointer-events: none;
  }

  .drag-enter {
    animation: change-color .5s ease-out 0s normal;
    animation-fill-mode: both;
  }

  .drag-leave {
    animation: change-color .5s ease-out 0s reverse;
    animation-fill-mode: both;
  }

  .dropped {
    background-color: black !important;
  }

  input[type="file"] {
    position: absolute;
    opacity: 0;
    width: $image-width;
    height: $image-height;
    font-size: 0;
    cursor: pointer; 
  }

}

.post {

  .profile-picture {
    border-radius: 50%;
    object-fit: cover;
  } 

  .username {
    color: black;
    font-weight: bold;
    &:hover {
      text-decoration: none;
    }
  }

  #post-image-container{
    max-width: 762px;
    background-color:black;
    display: flex;
    justify-content: center;
  }

  #post-image {
    width: 100%;
    object-fit: contain;
  }

  #tag {
    font-size: 1rem;
    padding: 1rem;
    margin-right: .7rem;
    margin-bottom: .7rem;
    text-transform: lowercase;
  }
}

@media only screen and (min-width: 992px) {
  .post-info {
    position: sticky;
    top: calc(60px + 1rem);
  }

  .container{
    max-width: 1440px;
  }
}

#comment-section {
  .profile-picture {
    border-radius: 50%;
  }

  textarea {
    height: 80px
  }

  #user-comment-hidden {
    display: none !important;
  }

  [hidden]{
    display: none !important;
  }

  .comment-username {
    font-weight: bold;
  }

  #signin {
    font-size: 18px;
    a {
      text-decoration: none;
    }
  }

  .toggle-replies {
    background: none;
  }
 
  .options {
    display: none;
    background: none;
    margin-top: -4px;
    transition: margin-top .1s;
    &:hover {
      margin-top: -6px;
    }
  }

  .comment-body:hover{
    .options { 
      display: inherit;
    }
  }

  .dropdown-item:active {
    background: gainsboro;
    color: black;
  }
}

.profile {
  flex-grow: 1;
  .banner {
    height: 250px;
    margin-bottom: 0 !important;
  }

  .username {
    margin-top: .5rem;
    font-size: 2rem;
  }
  .user-stats {
    font-size: 1.10rem;
  }

  .profile-link {
    color: grey;
    font-size: 1.10rem;
    margin: 1rem;
    font-weight: 500;
    &:hover {
      text-decoration: none;
      color: black;
    }
  }

  $avatarSize: 110px;

  .profile-picture {
    object-fit: cover;
  }

  .change-avatar {
    width: $avatarSize;
    height: $avatarSize;
    line-height: $avatarSize;
    background-color: rgba($color: black, $alpha: .5);
    visibility: hidden;
  }
  
  #avatar-file {
    cursor: pointer;
    font-size: 0;
    opacity: 0;
    width: $avatarSize;
    height: $avatarSize;
    
  }
}

.post {
  margin: 0 auto;
  overflow: hidden;
}

.post-image-container {
  background-color: black;
}

.post-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.post-container {
  display: inline-grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, 340px);
  grid-gap: 14px 9px;
  width: 1388px;
}

#user-post-hidden {
  display: none !important;
}

.user-post {
  color: black;
  transition: margin-top .2s, margin-bottom .2s;
  &:hover {
    color: black;
    text-decoration: none;
    margin-top: -10px;
    margin-bottom: 10px;
    position: relative;
  }
}

@media only screen and (max-width: 1450px) {
  .post-container {
    width: 1040px !important;
  }
}

@media only screen and (max-width: 1100px) {
  .post-container {
    width: 700px !important;
  }
}

@media only screen and (max-width: 767px) {
  .post-container {
    width: 340px !important;
  }
}

.about {
  max-width: 1200px;
  .about-me {
    width: 60%;
  }

  .edit-about {
    background: none;
    margin-top: -16px;
  }

  .edit-about-me {
    width: 100%;
    height: 20rem;
  }
}

.index {
  .post-container {
    min-height: 382px;
  }
}

footer {
  height: 60px;
  width: 100%;
  left: 0;
  bottom: 0;
}
