body {
  height: 100%;
}


main {
  min-height: calc(100vh - 60px - 60px);
  margin-top: 60px;
}


nav {
  .profile-picture {
    border-radius: 50%;
    width: 40px;
  }
}

@media only screen and (min-width: 992px) {
  nav {
    height: 60px;
    .input-group {
      width: 20rem !important;
    }
  }
}

.signup-page, .login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 60px);
  margin-top: 0;
}

.signup {
  width: 25rem;

  .success {
    border-color: lightgreen !important;
    &:focus {
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px lightgreen !important;
    }
  }

  .error {
    border-color: lightcoral !important;
    &:focus {
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px lightcoral !important;
    }
  }

  .social {
    filter: drop-shadow(1px 1px 1px #EDEDED) drop-shadow(-1px 1px 1px #EDEDED) drop-shadow(1px -1px 1px #EDEDED) drop-shadow(-1px -1px 1px #EDEDED);
  }
}

$image-height: 300px;
$image-width: 400px;

.upload {
  width: 25rem;

  .title {
    padding: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    height: 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    &:focus {
      box-shadow: none;
      border-color: black;
    }
  }

  #description {
    resize: none;
    height: 6rem;

    &:focus {
      box-shadow: none;
      border-color: black;
    }
  }


  #tags {
    resize: none;
    height: 4rem;

    &:focus {
      box-shadow: none;
      border-color: black;
    }
  }

  @keyframes change-color {
    from {background-color: gainsboro;}
    to {background-color: black;}
  }
  
  #drop-area {
    width: $image-width;
    height: $image-height;
    background-color: gainsboro;
  }

  .drop-border {
    width: $image-width - 20px;
    height: $image-height - 20px;
    border: 2px dashed grey;
    border-radius: 10px;
    color: grey;
    pointer-events: none;
  }

  .drag-enter {
    animation: change-color .5s ease-out 0s normal;
    animation-fill-mode: both;
  }

  .drag-leave {
    animation: change-color .5s ease-out 0s reverse;
    animation-fill-mode: both;
  }

  .dropped {
    background-color: black !important;
  }

  input[type="file"] {
    position: absolute;
    opacity: 0;
    width: $image-width;
    height: $image-height;
    cursor: pointer; 
  }

  textarea::-webkit-scrollbar {
    display: none;
  }

  textarea {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

}

.post { 
  
  .profile-picture {
    width: 40px;
    border-radius: 50%;
  }

  .post-stats-container{
  }


  #post-image-container{
    max-width: 762px;
    background-color:black;
    display: flex;
    justify-content: center;
  }

  #post-image {
    width: 100%;
    object-fit: contain;
  }

  #tag {
    font-size: 1rem;
    padding: 1rem;
    margin-right: .7rem;
    margin-bottom: .7rem;
    text-transform: lowercase;
  }
}

@media only screen and (min-width: 992px) {
  .post-info {
    position: sticky;
    top: calc(60px + 1rem);
  }


  .container{
    max-width: 1440px;
  }
}


footer {
  height: 60px;
  width: 100%;
  left: 0;
  bottom: 0;
}
